/*
$Id: altskin.IE6.css,v 1.2.2.1 2010/09/30 09:53:06 aim Exp $
vim: set ts=2 sw=2 sts=2 et:
*/

/*
  Changed
*/
#page-container {
  margin: 0px;
  background: #000000 url(../images/vivid_dreams/bg-top.gif) repeat-x left top;
  border-left: 0px none;
}
#page-container2 {
  margin-left: 0px;
}
#center-main {
  margin: 0px;
  padding-left: 290px;
}
.tabs {
  top: -1px;
  overflow: hidden;
}
.halign-center {
  padding-top: 6px;
}
.product-details .details .save-box {
  width: 50%;
}
.product-details .details .save {
  padding-top: 29px;
  padding-bottom: 16px;
  position: static;
  background-position: left 6px;
  height: 57px;
}
input.image-button {
  margin-bottom: 0px;
}
#left-bar .menu-dialog .content,
  #right-bar .menu-dialog .content
{
  width: 250px;
}
input,
textarea,
select
{
  background-color: #af97ad !important;
}
.paypal-cart-button div input, 
form .paypal-cart-icon
{
  background-color: transparent !important;
}

/*
  Add
*/
#header .head-bg2 .cart-container {
  background: transparent none;
}
.cart-container-bg {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="skin/vivid_dreams_violet/images/vivid_dreams/girl.png", sizingMethod="crop");
  width: 592px;
  height: 253px;
}
#header div.search input.search-input {
  height: 19px;
}
#footer .subbox {
  position: relative;
  color: #ffffff;
  height: 45px;
  vertical-align: middle;
  padding: 0px;
}
.block-news-links table {
  position: relative;
  width: auto;
}
.block-news-links table tr td {
  width: 30%;
  padding-right: 30px;
  position: relative;
  vertical-align: top;
}
.menu-dialog.menu-special,
  .menu-dialog.menu-help
{
  position: relative;
}
.menu-dialog.menu-special .title-bar,
  .menu-dialog.menu-help .title-bar
{
  position: relative;
}
.dialog .title_cat {
  margin-right: 20px;
}
.products .buttons-row.nopad {
  position: static;
}
.cart .right-buttons-row .checkout-button {
  padding-top: 6px;
}
a.offers-thumbnail:link img,
  a.offers-thumbnail:visited img,
  a.offers-thumbnail:hover img,
  a.offers-thumbnail:active img
{
  background: transparent none !important;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="skin/vivid_dreams_violet/images/vivid_dreams/offer_thumb.png", sizingMethod="scale");
}
.adv-search table .data-input input.for_s {
  margin-top: 0px;
}
.fcomp-table table {
  width: 100%;
}
.product-details .fcomp-select-box select {
  margin-right: 0px !important;
}
.cart-container, 
  .cart-block
{
  z-index: 1000;
}
div.minicart .full img {
  margin-top: 0px;
}
div.minicart .full .minicart-text {
  padding-top: 4px;
}
tr.flc-tab-cart-line img {
}
table.cart-content {
  width: 100%;
}
.gcheckout-cart-buttons p {
  padding-top: 30px;
  padding-bottom: 0px;
}
button.button {
  padding-right: 2px;
}
.dialog .title-with-sort-row .dialog-search-sort-bar {
  right: 10px;
}

#header div.search input.text {
  margin-top: 1px;
  height: 20px;
}
.search input.image-button {
  margin-bottom: 0px;
}

table.data-table td input.exclude-style {
  background-color: transparent;
  border: 0px none;
}

.fancycat-icons-e ul li a:link,
  .fancycat-icons-e ul li a:visited,
  .fancycat-icons-e ul li a:hover,
  .fancycat-icons-e ul li a:active
{
  width: 210px;
}
.fancycat-icons-e li ul li a:link,
  .fancycat-icons-e li ul li a:visited,
  .fancycat-icons-e li ul li a:hover,
  .fancycat-icons-e li ul li a:active
{
  width: 204px;
}
.fancycat-icons-e li ul.fancycat-icons-level-1 li ul {
  left: 210px;
}
.fancycat-icons-e li ul li {
  background-color: #000000;
  padding-left: 10px;
  padding-right: 10px;
}
.fancycat-icons-e li ul {
  border: 0px none;
  background: #e1a8d1 none;
  padding: 1px;
}
.creviews-vote-bar a,
  .creviews-vote-bar span,
  .creviews-vote-bar a img,
  .creviews-vote-bar span img
{
  background-image: none;
}
.creviews-vote-bar .bg,
  .creviews-vote-bar a img,
  .creviews-vote-bar span img
{
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="skin/vivid_dreams_violet/images/vivid_dreams/stars.png", sizingMethod="crop");
}

.products-table .button-row button.cart-button {
  float: left;
}

.minicart-box .checkout-popup-link div.buttons-box {
  top: 19px;
}

