/*
$Id: altskin.IE7.css,v 1.1 2010/05/21 08:31:56 joy Exp $
vim: set ts=2 sw=2 sts=2 et:
*/

/*
  Add
*/
.more-categories li a {
  width: 200px;
  display: inline-block;
}
.products a.product-title:link,
  .products a.product-title:visited,
  .products a.product-title:hover,
  .products a.product-title:active,
  .products .product-title,
  .product-details .product-title
{
  left: 0px;
}

.fancycat-icons-e ul.fancycat-icons-level-0 li ul {
  width: 230px;
}
.fancycat-icons-e li ul li {
  width: 220px;
  padding-left: 5px;
  padding-right: 5px;
}

.button-row a.simple-arrow-button:link,
  .button-row a.simple-arrow-button:visited,
  .button-row a.simple-arrow-button:hover,
  .button-row a.simple-arrow-button:active
{
  padding-top: 7px;
  background-position: left 8px;
}
.dialog .content {
  padding-top: 20px;
  padding-bottom: 25px;
}


.minicart-box .checkout-popup-link div.buttons-box {
  top: 22px;
}
.minicart-box div.buttons-box .buttons-row {
  height: 30px !important;
}
