/* vim: set ts=2 sw=2 sts=2 et: */
/**
 * Artistic tunes (Water color) CSS stylesheet
 *
 * @category    X-Cart
 * @package     X-Cart
 * @subpackage  CSS
 * @author      Ruslan R. Fazlyev <rrf@x-cart.com>
 * @version     $Id: altskin.css,v 1.18 2010/08/05 09:53:52 joy Exp $
 * @link        http://www.x-cart.com/
 * @see         ____file_see____
 */

html,
body
{
  background: #fff url(../images/custom/mainbg.gif) repeat left top;
  font-family: tahoma, verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  color: #75634a;
}

a:link {
  color: #1f7046;
}

a:visited {
  color: #1f7046;
}

a:hover {
  color: #1f7046;
}

a:active {
  color: #1f7046;
}

h1 {
  color: #a23425;
}

a.small-link:link {
  font-size: 12px;
  font-family: tahoma, arial, verdana, helvetica, sans-serif;
}

a.small-link:visited {
  font-size: 12px;
  font-family: tahoma, arial, verdana, helvetica, sans-serif;
}

a.small-link:hover {
  font-size: 12px;
  font-family: tahoma, arial, verdana, helvetica, sans-serif;
}

a.small-link:active {
  font-size: 12px;
  font-family: tahoma, arial, verdana, helvetica, sans-serif;
}

#content-container {
  padding-bottom: 70px;
  margin-top: 248px;
}

.printable {
  background: none !important;
}

.printable #content-container {
  margin-top: 0;
}

.printable #header {
  height: 0;
}

#left-bar {
  width: 150px;
}

#right-bar {
  top: 2px;
  width: 220px;
}

#center-main {
  margin: 0 250px 0 25px;
}

#footer {
  height: 41px;
}

#header .line1 {
  width: 100%;
  background-image: url(../images/custom/topbg.gif);
  height: 192px;
}

#header .line1 .logo {
  background: transparent url(../images/custom/top_image1.gif) no-repeat left top;
  height: 192px;
  position: relative;
  padding-top: 0;
  margin-left: 0;
  width: auto;
}

#header .line1 .logo1 {
  background-position: right top;
  background-repeat: no-repeat;
}

#header .line1 .logo a img {
  margin: 47px 0 0 47px;
  width: auto;
  height: auto;
}

.tabs li {
  background: transparent url(../images/custom/top_border.gif) repeat-y left 3px;
}

.tabs a:link,
.tabs a:visited,
.tabs a:hover,
.tabs a:active
{
  text-transform: uppercase;
  background: transparent none;
  height: auto;
  margin: 10px 5px 0 0;
  padding: 0 10px 5px 15px;
  color: #fff !important;
  font-size: 12px;
}

.tabs a:hover {
  text-decoration: underline;
}

#header .phones {
  left: 47px;
  top: 77px;
  text-align: left;
}

#header .phones span {
  display: block;
  line-height: 12px;
  font-size: 11px;
  color: #fff;
  padding-left: 0;
}

#header .line2 {
  top: 153px;
  left: 0;
  margin: 0 0 0 47px;
  border-top: none;
  border-bottom: none;
  background: transparent none;
  position: absolute;
  width: 80%;
  color: #fff;
}

#header .line2 div,
#header .line2 span
{
  font-size: 11px;
  color: #fff;
}

#header .line2 a:link,
#header .line2 a:visited,
#header .line2 a:hover,
#header .line2 a:active
{
  text-transform: none;
  color: #fff;
}

#header span.search {
  text-transform: uppercase;
  padding-left: 0;
}

#header .search .image-button {
  margin-top: 3px;
}

#header .languages {
  left: 0;
  top: -140px;
  text-align: left;
}

#header .languages label {
  text-transform: none;
  font-size: 11px;
}

#header .line3 {
  background: transparent url(../images/custom/topshadow.gif) repeat-x top left;
  height: 15px;
}

#footer .box {
  border-top: none;
}

#footer .subbox {
  border-top: none;
  background: #f4f5f7 url(../images/custom/bottombg.gif);
  color: #667d92;
  height: 41px;
}

#footer .subbox a:link {
  color: #df9490;
}

#footer .subbox a:visited {
  color: #df9490;
}

#footer .subbox a:hover {
  color: #df9490;
}

#footer .subbox a:active {
  color: #df9490;
}

#location {
  height: auto;
  font-size: 11px;
}

font.bread-crumb {
  font-size: 11px;
}

a.bread-crumb:link {
  font-size: 11px;
}

a.bread-crumb:visited {
  font-size: 11px;
}

a.bread-crumb:hover {
  font-size: 11px;
}

a.bread-crumb:active {
  font-size: 11px;
}

.menu-dialog {
  border: none;
  margin-bottom: 0;
}

.menu-dialog .title-bar {
  height: 24px;
  background: transparent none;
  border: 0 none;
}

.menu-dialog .title-bar .icon {
  display: none;
}

.menu-dialog .title-bar h2 {
  color: #fff;
  text-transform: uppercase;
  padding-left: 19px;
  line-height: 24px;
}

.menu-dialog .title-bar a:link,
.menu-dialog .title-bar a:visited,
.menu-dialog .title-bar a:hover,
.menu-dialog .title-bar a:active
{
  top: 4px;
  height: 16px;
}

.menu-dialog .title-bar a:link img,
.menu-dialog .title-bar a:visited img,
.menu-dialog .title-bar a:hover img,
.menu-dialog .title-bar a:active img
{
  width: 15px;
  height: 15px;
  background: transparent url(../images/custom/button_arrow.gif) no-repeat left top;
}

.menu-dialog .content {
  background: transparent none;
  padding: 8px 6px 8px 27px;
}

.menu-dialog .content a:link,
.menu-dialog .content a:visited,
.menu-dialog .content a:link,
.menu-dialog .content a:hover
{
  color: #1f7046;
}

.menu-dialog ul {
  list-style: none;
  padding: 10px 0 10px 2px;
  margin: 0;
}

.menu-dialog ul li,
.menu-dialog .login-text ul li
{
  background: transparent url(../images/custom/menu_bullet.gif) no-repeat 5px 5px;
  padding: 2px 0 2px 15px;
  margin-right: 12px;
}

.fcomp-list ul li img.delete-icon {
  right: -12px !important;
}

.menu-dialog .item {
  font-size: 11px;
}

.menu-dialog ul li a:link {
  font-size: 12px;
}

.menu-dialog ul li a:visited {
  font-size: 12px;
}

.menu-dialog ul li a:hover {
  font-size: 12px;
}

.menu-dialog ul li a:active {
  font-size: 12px;
}

.dialog {
  margin: 0 0 15px;
  border: 0 none;
}

.dialog .title {
  background: #D27074 url(../images/custom/dialog_titlebg.gif) no-repeat right top;
  border-color: #fefdfb #992e54 #992e54 #dd9296;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
}

.dialog .title h2 {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.dialog .content {
  border-top: 1px solid #bebebe;
  border-right: 1px solid #bdbdbd;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: #fff url(../images/custom/dialog_shadow.gif) repeat-x left top;
  padding: 0px 10px 5px;
}

.noborder .content {
  border-top: 1px solid #fff;
}

button.button .button-right {
  background: transparent url(../images/custom/but_menu_right.png) no-repeat right top;
}

button.button .button-left {
  background: transparent url(../images/custom/but_menu_left.png) no-repeat left top;
  font-family: tahoma, verdana, arial, helvetica, sans-serif;
  font-weight: normal;
  color: #80334e;
  font-size: 11px;
}

div.button {
  background: transparent url(../images/custom/but_menu_right.png) no-repeat right top;
}

div.button div,
div.button a:link,
div.button a:visited,
div.button a:hover,
div.button a:active,
.minicart-box .clear-cart a:link,
.minicart-box .clear-cart a:visited,
.minicart-box .clear-cart a:hover,
.minicart-box .clear-cart a:active
{
  background: transparent url(../images/custom/but_menu_left.png) no-repeat left top;
  font-family: tahoma, verdana, arial, helvetica, sans-serif;
  color: #80334e;
  font-weight: normal;
  font-size: 11px;
}

button.simple-button {
  height: 19px;
  color: #1F7046;
  line-height: 20px;
}

button.simple-button span {
  position: relative;
  bottom: 1px;
  left: 1px;
}

a.simple-button:link,
a.simple-button:visited,
a.simple-button:hover,
a.simple-button:active
{
  color: #A23425;
  text-decoration: none;
  font-size: 14px;
}

input.image-button {
  width: 15px;
  height: 20px;
  background: transparent url(../images/custom/button_arrow.gif) no-repeat left top;
}

a.image-button:link img,
a.image-button:visited img,
a.image-button:hover img,
a.image-button:active img
{
  margin-bottom: 0;
}

button.main-button .button-right {
  background: transparent url(../images/custom/but_main_right.png) no-repeat right top;
}

button.main-button .button-left {
  background: transparent url(../images/custom/but_main_left.png) no-repeat left top;
  color: #510000;
}

div.main-button {
  background: transparent url(../images/custom/but_main_right.png) no-repeat right top;
}

div.main-button div,
div.main-button a:link,
div.main-button a:visited,
div.main-button a:hover,
div.main-button a:active
{
  background: transparent url(../images/custom/but_main_left.png) no-repeat left top;
  color: #510000;
}

button.simple-main-button,
a.simple-main-button:link,
a.simple-main-button:visited,
a.simple-main-button:hover,
a.simple-main-button:active
{
  color: #800 !important;
}

a.simple-delete-button:link,
a.simple-delete-button:visited,
a.simple-delete-button:hover,
a.simple-delete-button:active
{
  color: #800 !important;
}

button.menu-button .button-right {
  background: transparent url(../images/custom/but_menu_right.png) no-repeat right top;
}

button.menu-button .button-left {
  text-decoration: none;
  white-space: nowrap;
  background: transparent url(../images/custom/but_menu_left.png) no-repeat left top;
  color: #80334e !important;
}

div.menu-button {
  background: transparent url(../images/custom/but_menu_right.png) no-repeat right top;
}

div.menu-button div,
div.menu-button a:link,
div.menu-button a:visited,
div.menu-button a:hover,
div.menu-button a:active
{
  text-decoration: none;
  white-space: nowrap;
  background: transparent url(../images/custom/but_menu_left.png) no-repeat left top;
  color: #80334e !important;
}

div.dropout-button-layer {
  border: 0 none;
}

div.dropout-button-layer .content {
  border: 1px solid #adb6c6;
}

a.popup-link:link img,
a.popup-link:visited img,
a.popup-link:hover img,
a.popup-link:active img
{
  width: 24px;
  height: 20px;
  background: transparent url(../images/custom/question_button.gif) no-repeat left top;
}

.popup-window .popup-title {
  background: transparent url(../images/custom/popup_header_bg.gif) repeat-x left top;
}

.popup-window .popup-title span {
  color: #fff;
  font-size: 12px;
  font-family: tahoma, verdana, helvetica, sans-serif;
  font-weight: normal;
}

.popup-window .popup-title img {
  background: transparent url(../images/custom/popup_header_cross.gif) no-repeat left top;
}

.popup-window .popup-footer div {
  background: transparent url(../images/custom/popup_bottom_arrow.gif) no-repeat 9px 9px;
}

.nav-pages {
  padding: 20px;
}

.nav-pages .left-arrow img {
  background: transparent url(../images/custom/button_arrow_left.gif) no-repeat left top;
}

.nav-pages .right-arrow img {
  background: transparent url(../images/custom/button_arrow.gif) no-repeat left top;
}

h3 {
  font-weight: normal;
  border: none;
  color: #a10000;
  font-size: 12px;
}

.menu-categories-list ul li a:link,
.menu-categories-list ul li a:visited,
.menu-categories-list ul li a:hover,
.menu-categories-list ul li a:active
{
  font-size: 12px;
}

.menu-minicart ul {
  padding: 0 0 0 40px;
}

.menu-minicart .content {
  padding-left: 12px;
  overflow: visible;
}

hr.minicart {
  margin-left: 15px;
}

.minicart-block {
  height: 33px;
  position: relative;
}

.minicart {
  padding-left: 46px;
  font-size: 11px;
  line-height: 33px;
  vertical-align: middle;
}

.minicart-block img.ajax-minicart-icon {
  position: absolute;
  left: 0;
  top: 0;
  margin: 9px 0 9px 10px;
  width: 20px;
  height: 15px;
}

.minicart-block img.full {
  background-image: url(../images/custom/cart_full.gif);
}

.minicart-block img.empty {
  background-image: url(../images/custom/cart_empty.gif);
}

#content-container .ajax-minicart img.minicart-button {
  background: transparent url(../images/custom/cart_button.gif) no-repeat left top;
  width: 39px;
  height: 23px;
  margin: 5px 0;
  position: absolute;
}

#content-container .ajax-minicart img.minicart-button-show {
  background-position: left -23px;
}

.minicart-box {
  top: 26px;
  border-color: #487546;
}

.minicart-box .checkout-popup-link a.show:link,
.minicart-box .checkout-popup-link a.show:visited,
.minicart-box .checkout-popup-link a.show:hover,
.minicart-box .checkout-popup-link a.show:active
{
  border-top: 1px solid #487546;
  border-left: 1px solid #487546;
  border-right: 1px solid #487546;
}

.minicart-box .checkout-popup-link .link span {
  border-color: #1f7046;
}

.minicart-box .checkout-popup-link a.link:link img,
.minicart-box .checkout-popup-link a.link:visited img,
.minicart-box .checkout-popup-link a.link:hover img,
.minicart-box .checkout-popup-link a.link:active img
{
  background-image: url(../images/custom/checkout_arrow.gif);
}

.minicart-box .checkout-popup-link div.buttons-box {
  border-color: #487546;
  top: 20px;
}

.minicart-box ul {
  list-style: none;
  padding: 0;
}

.minicart-box ul li {
  background: transparent none;
  padding: 6px 15px 6px 5px;
}

/**
 *  Add2Cart AJAX-based
 */
button.do-add2cart-wait,
button.do-add2cart-success,
button.do-add2cart-error
{
  border: 1px solid #ccc;
}

button.do-add2cart-wait .button-right,
button.do-add2cart-success .button-right,
button.do-add2cart-error .button-right
{
  background: transparent none;
  padding-right: 6px;
}

button.do-add2cart-wait .button-left,
button.do-add2cart-success .button-left,
button.do-add2cart-error .button-left
{
  background: transparent none;
  color: #111d4d;
  padding-left: 11px;
}

hr.minicart {
  background: transparent none;
  border-bottom: 1px dotted #b6b6b6;
  margin-right: 10px;
}

.login-buttons {
  margin: 5px 0;
}

.login-buttons .button {
  margin-right: 7px;
}

.menu-dialog .recovery a:link,
.menu-dialog .recovery a:visited,
.menu-dialog .recovery a:hover,
.menu-dialog .recovery a:active
{
  font-size: 12px;
}

.menu-dialog .login-text strong,
.menu-dialog .login-text ul
{
  margin-left: 15px;
}

.small-note,
a.small-link:link
{
  font-size: 11px;
  font-family: tahoma, arial, verdana, helvetica, sans-serif;
}

.subcategory-image {
  margin: 0 10px 10px 0;
}

.product-details {
  margin-bottom: 0;
}

.product-details .image {
  margin: 35px 40px 5px 15px;
}

.product-details .product-subtitle {
  padding: 0 0 10px;
}

.product-details .product-subtitle div {
  font-size: 12px;
}

table.product-properties {
  width: auto;
}

table.product-properties .product-price {
  font-size: 12px;
}

table.product-properties .product-price-value {
  font-size: 12px;
  font-family: tahoma, verdana;
}

table.product-properties .product-market-price {
  font-size: 12px;
  font-family: tahoma, verdana;
}

table.product-properties .product-min-amount {
  font-family: tahoma, 'times new roman', verdana, arial, helvetica, sans-serif;
}

table.product-properties .product-one-quantity {
  font-family: tahoma, 'times new roman', verdana, arial, helvetica, sans-serif;
}

.products {
  background: #fff none;
  margin-bottom: 20px;
  margin-top: 20px;
}

.products a.product-title:link,
.products a.product-title:visited,
.products a.product-title:hover,
.products a.product-title:active,
.products .product-title,
.product-details .product-title
{
  left: 37px;
  top: 25px;
  color: #1f7046;
}

.products .descr {
  padding: 44px 0 20px;
}

.products .market-price-value {
  text-decoration: line-through;
  background: transparent none;
}

.products .price {
  font-size: 12px;
}

.products .price-value {
  font-size: 12px;
}

.products .product-details-title {
  font-size: 12px;
}

.products .product-price-text {
  font-size: 12px;
}

.products-list .item {
  border: 0 none;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  background: transparent url(../images/custom/dialog_shadow.gif) repeat-x left top;
  padding: 15px;
  margin: 0 0 2px;
}

.products-list .first {
  border-top: 0 none;
}

.products-list .image {
  padding: 35px 20px 3px 10px;
}

.products-list .details hr {
  display: none;
}

.products-table .product-cell {
  background: #fff none;
}

.products-table .buttons-row,
.products-table .button-row
{
  margin: 8px 0 0;
}

.order-invoice {
  background: transparent;
}

.error-page .subcontainer {
  margin: 160px auto 0;
}

.error-page .code-number {
  font: normal 74px tahoma, arial, sans-serif;
}

.error-page .description {
  font-family: tahoma, verdana;
}

.menu-bestsellers ul {
  padding: 0;
  margin-left: 20px;
  font-weight: bold;
  list-style: decimal;
}

.menu-bestsellers ul li {
  background: transparent none;
  padding: 4px 0;
}

.menu-bestsellers .content {
  padding: 8px 6px 20px 10px;
}

.dpimages-icons-box a:link,
.dpimages-icons-box a:visited,
.dpimages-icons-box a:hover,
.dpimages-icons-box a:active
{
  padding: 1px;
}

.checkout-top-login {
  display: none;
}

#header .checkout-top-login .simple-button {
  margin-bottom: 5px;
}

div.checkout-container #center-main {
  margin: 110px 150px 0;
}

div.opc-container #center-main {
  margin: 110px auto 0;
}

.flc-left-dialog {
  height: 272px;
}

.flc-right-dialog {
  height: 272px;
}

.flc-right-dialog .content {
  line-height: 201px;
}

.flc-tab-marks-line .flc-tab-last .flc-tab-line-img2 {
  background: transparent none;
}

.flc-tab-marks-line .flc-tab-line-half .flc-tab-line-img1,
.flc-tab-marks-line .flc-tab-last .flc-tab-line-img1
{
  width: 50%;
}

div.flc-tab-cart-line img {
  background: transparent url(../images/custom/cart_full_l2r.gif) no-repeat left top;
  width: 20px;
  height: 15px;
}

.flc-tab-marks-line .flc-tab-line-full .flc-tab-line-img1,
.flc-tab-marks-line .flc-tab-line-full .flc-tab-line-img2,
.flc-tab-marks-line .flc-tab-line-full .flc-tab-line-img3,
.flc-tab-marks-line .flc-tab-line-half .flc-tab-line-img1,
.flc-tab-marks-line .flc-tab-line-half .flc-tab-line-img3
{
  background: #8b193a none;
}

div.iv-box {
  font-size: 11px;
}

table.data-table tr td.iv-box {
  font-size: 11px;
}

table.data-table tr td.iv-box-descr {
  font-size: 11px;
}

.iv-box a:link,
.iv-box a:visited,
.iv-box a:hover,
.iv-box a:active
{
  font-size: 11px;
}

#exception_msg {
  white-space: normal;
}

ul.rproducts {
  list-style: disc outside none;
  margin: 15px 0 0 15px;
}

ul.rproducts li {
  padding: 0;
  font-size: 10px;
}

.sns-button .text a:link,
.sns-button .text a:visited,
.sns-button .text a:hover,
.sns-button .text a:active
{
  font-family: tahoma, arial;
}

.ups-notice {
  font-family: tahoma, verdana, arial, helvetica, sans-serif;
  font-size: 12px;
}

.uo-box {
  border-top: none;
}

.printable #center-main {
  margin: 0 10px;
}

/**
 *   Add
 */
.halign-center {
  display: table;
  margin: 0 auto;
  text-align: center;
}

table tr.subhead-row td,
table tr.subhead-row th
{
  background: #eee none;
}

#header .line1 .logo .logo2 {
  position: absolute;
  top: 0;
  right: 0;
}

#header .line1 .logo .logo2 img {
  background: transparent url(../images/custom/top_image2.jpg) no-repeat left top;
  width: 509px;
  height: 189px;
}

.hor-categories {
  text-align: left;
  background: #7bd14b none;
  position: absolute;
  left: 0;
  z-index: 1;
  overflow: hidden;
  height: 34px;
  padding: 0 50px 0 0;
}

.hor-categories ul {
  margin: 0 10px 10px 0;
  padding: 0;
  list-style: none;
}

.hor-categories li {
  float: left;
  margin: 0;
  padding: 8px 30px 0 31px;
  height: 34px;
  white-space: nowrap;
  background: #7bd14b url(../images/custom/hor_arrows.gif) no-repeat left top;
}

.hor-categories li a,
.more-categories li a
{
  color: #100707 !important;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.more-categories {
  text-align: left;
  background: #7BD14B none;
  position: absolute;
  right: 0;
  z-index: 100;
}

.more-categories a {
  display: block;
}

.more-categories ul {
  display: block;
  position: absolute;
  top: 27px;
  right: 0;
  padding: 0;
  margin: 0;
  border-color: #FAFAFA #83839C #8E8E97 #A5A5BC;
  border-style: solid;
  border-width: 1px;
  background-color: #7bd14b;
  white-space: nowrap;
  list-style: none;
}

.more-categories li {
  height: 34px;
  border-bottom: 1px solid #fff;
}

.more-categories li a {
  padding: 5px 2px 5px 31px;
  background: #7bd14b url(../images/custom/hor_arrows.gif) no-repeat left top;
}

.top-categories {
  width: 100%;
  height: 34px;
  padding: 0;
  margin: 0;
  position: relative;
  background: #7bd14b none;
  border-top: 1px solid #0f2e43;
  z-index: 999;
}

.bottom-menu {
  margin-top: 20px;
}

.bottom-menu td {
  width: 150px;
  vertical-align: top;
  padding: 0 70px 0 0;
}

.bottom-menu td.news-box {
  width: 250px;
}

.bottom-menu td .menu-dialog .content,
.bottom-menu td .menu-dialog .title-bar,
.bottom-menu .menu-dialog .title-bar .title-bar-points
{
  background: transparent none;
  text-align: left;
}

.bottom-menu td .menu-dialog .title-bar {
  background: #df9490 none;
}

.bottom-menu td .menu-dialog .title-bar img.icon {
  width: 0;
}

.bottom-menu td .menu-dialog ul {
  list-style-type: disc;
}

.bottom-menu td .menu-dialog .content {
  padding-left: 0;
}

.bottom-menu td .menu-dialog .content ul {
  padding-top: 0;
  list-style: none;
}

.bottom-menu td table {
  width: 250px;
}

.bottom-menu .content {
  padding-right: 0 !important;
}

.line3 .printable-bar {
  position: absolute;
  top: 21px;
  right: 256px;
  height: 18px;
}

.line3 .printable-bar a:link,
.line3 .printable-bar a:visited,
.line3 .printable-bar a:hover,
.line3 .printable-bar a:active
{
  background: transparent url(../images/custom/printer.gif) no-repeat left 2px;
  padding: 2px 0 2px 20px;
  color: #818891;
  font-size: 11px;
}

#footer .subbox .left,
#footer .subbox .right
{
  top: 4px;
  color: #DF9490;
}

#dialog-message .message-I {
  color: #112536;
  border-color: #7a97c1;
  background-color: #f4f5f7;
}

#dialog-message .message-w {
  color: #3e3104;
  border-color: #c3902f;
  background-color: #f8f7f3;
}

#dialog-message .message-e {
  color: #590a0a;
  border-color: #d30000;
  background-color: #f7f3f3;
}

.menu-dialog .title-bar .title-bar-points {
  background: transparent url(../images/custom/right_menuend.gif) no-repeat left top;
}

#right-bar .menu-dialog .title-bar .title-bar-points {
  background: transparent url(../images/custom/right_menuend.gif) no-repeat left top;
  color: #f5ecdf;
}

.dialog-pointer-left,
.dialog-pointer-right
{
  height: 34px;
  width: 3px;
  position: absolute;
  top: 1px;
  z-index: 1;
  margin: 2px 5px;
}

.dialog-pointer-left {
  left: 0;
}

.dialog-pointer-right {
  right: 0;
}

.zero-padding {
  padding: 0 !important;
}

.dialog .dialog-sort-row {
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  overflow: hidden;
}

.dialog .title-with-sort-row h2 {
  width: 50%;
}

.dialog .title-with-sort-row .dialog-search-sort-bar {
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  overflow: hidden;
}

.dialog-search-sort-bar .search-sort-bar {
  padding: 0;
  margin: 7px;
}

.dialog-search-sort-bar .search-sort-title,
.dialog-search-sort-bar .search-sort-cell
{
  padding-right: 10px;
  color: #fff;
}

.dialog-search-sort-bar .search-sort-title,
.dialog-search-sort-bar .search-sort-cell a
{
  color: #fff !important;
}

a.simple-button span {
  font-size: 11px;
  text-decoration: underline;
}

a.simple-arrow-button:link,
a.simple-arrow-button:visited,
a.simple-arrow-button:hover,
a.simple-arrow-button:active
{
  color: #1f7046;
  padding-left: 19px;
  background: transparent url(../images/custom/button_arrow.gif) no-repeat left 2px;
}

.rtl a.simple-arrow-button:link,
.rtl a.simple-arrow-button:visited,
.rtl a.simple-arrow-button:hover,
.rtl a.simple-arrow-button:active
{
  padding-left: 0;
  padding-right: 19px;
  background: transparent url(../images/custom/button_arrow_left.gif) no-repeat right 2px;
}

.button-row a.simple-arrow-button:link,
.button-row a.simple-arrow-button:visited,
.button-row a.simple-arrow-button:hover,
.button-row a.simple-arrow-button:active
{
  background-position: left 2px;
}

button.simple-arrow-button img.left-simple-button {
  display: inline;
  width: 15px;
  height: 15px;
  background: transparent url(../images/custom/button_arrow.gif) no-repeat left top;
  margin-right: 3px;
  vertical-align: bottom;
}

.popup-window .popup-tl-corner,
.popup-window .popup-l-side,
.popup-window .popup-bl-corner,
.popup-window .popup-b-side,
.popup-window .popup-br-corner,
.popup-window .popup-r-side,
.popup-window .popup-tr-corner,
.popup-window .popup-t-side
{
  border-color: #831735;
  background: #831735;
}

.subheader {
  border: 0 none;
}

.subheader-grey {
  color: #666;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
}

.subheader-black {
  color: #010101;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid #000;
}

.subheader-red {
  border-bottom: 1px solid #acb7c7;
}

.menu-dialog .news {
  font-size: 12px;
}

.product-details .details .save {
  background: transparent url(../images/custom/save_money.gif) repeat-y scroll 0 0;
  color: #fff;
  font-weight: bold;
  height: 18px;
  left: 15px;
  padding: 5px 0 5px 15px;
  position: absolute;
  text-align: left;
  text-transform: lowercase;
  top: 0;
  vertical-align: middle;
  width: 120px;
}

.cart .details a {
  position: inherit !important;
}

.products-table .products-row td.product-cell {
  padding-top: 60px;
}

.error-page #header .line1 .tabs,
.error-page #header .line1 .phones,
.error-page #header .line2 .search,
.error-page #header .line2 .languages,
.error-page #header .line3,
.error-page #left-bar,
.error-page #right-bar,
.error-page #location,
.error-page .bottom-menu
{
  display: none;
}

.checkout-container #header .top-categories {
  display: none;
}

.uproducts table {
  margin: 0;
}

.uproducts td {
  padding: 5px;
  font-weight: bold;
}

.uproducts td.item-number {
  width: 1%;
}

.printable #header .line1 {
  display: none;
}

.printable #header .top-categories {
  display: none;
}

.printable .uproducts {
  display: none;
}

.fcomp-compare-buttons {
  margin: 15px !important;
  padding: 0px;
}

.menu-fancy-categories-list .content {
  padding-left: 6px;
}

.fancycat-icons-e ul,
.fancycat-icons-c ul
{
  list-style: none;
  list-style-image: none;
}

.fancycat-icons-e ul li {
  padding-top: 2px;
  padding-bottom: 2px;
  background: transparent;
}

.fancycat-icons-e ul li a:link,
.fancycat-icons-e ul li a:visited,
.fancycat-icons-e ul li a:hover,
.fancycat-icons-e ul li a:active
{
  padding-left: 0;
}

.fancycat-icons-e li ul li {
  padding: 2px 0;
}

.fancycat-icons-e ul {
  width: 200px;
}

.fancycat-icons-e li ul {
  background: #fff none;
  border: 1px solid #487546;
  right: 185px;
  left: auto !important;
}

.fancycat-icons-e a.empty-link:link,
.fancycat-icons-e a.empty-link:visited,
.fancycat-icons-e a.empty-link:hover,
.fancycat-icons-e a.empty-link:active
{
  color: #9eaea5;
}

.fancycat-icons-e li:hover,
.fancycat-icons-e li.over
{
  background-color: transparent;
}

.fancycat-icons-e ul.fancycat-icons-level-1 li:hover,
.fancycat-icons-e ul.fancycat-icons-level-1 li.over
{
  background-color: #df9490;
}

.fancycat-page-subskin-c #center-main {
  margin-left: 25px !important;
}

.fancycat-icons-c ul li {
  padding: 4px 0 7px 19px;
}

.fancycat-icons-c ul li ul {
  padding: 0;
}

.fancycat-icons-c ul li a:link,
.fancycat-icons-c ul li a:visited,
.fancycat-icons-c ul li a:hover,
.fancycat-icons-c ul li a:active
{
  font-size: 12px !important;
}

.fancycat-icons-c li a.arrow:link,
.fancycat-icons-c li a.arrow:visited,
.fancycat-icons-c li a.arrow:hover,
.fancycat-icons-c li a.arrow:active
{
  background-image: url(../images/custom/fancy_plus.gif);
}

.menu-affiliate ul {
  list-style: none !important;
}

div.checkout-1-button div,
div.checkout-1-button a:link,
div.checkout-1-button a:visited,
div.checkout-1-button a:hover,
div.checkout-1-button a:active
{
  background: transparent url(../images/custom/but_menu_left.png) no-repeat scroll left top !important;
  line-height: 20px !important;
  font-weight: normal !important;
  color: #80334e !important;
}

div.checkout-1-button {
  background: transparent url(../images/custom/but_menu_right.png) no-repeat scroll right top !important;
}

div.checkout-3-button div,
div.checkout-3-button a:link,
div.checkout-3-button a:visited,
div.checkout-3-button a:hover,
div.checkout-3-button a:active,
.minicart-checkout-button a:link,
.minicart-checkout-button a:visited,
.minicart-checkout-button a:hover,
.minicart-checkout-button a:active
{
  background: transparent url(../images/custom/but_main_left.png) no-repeat scroll left top !important;
  line-height: 20px !important;
  font-weight: normal !important;
  color: #510000 !important;
  font-size: 12px !important;
}

div.checkout-3-button,
.minicart-checkout-button
{
  background: transparent url(../images/custom/but_main_right.png) no-repeat scroll right top !important;
  padding-right: 10px !important;
}

.products-table .fcomp-checkbox-box {
  margin-top: 15px;
}

.fcomp-select-box {
  margin-top: 5px !important;
}

.fcomp-select-box .fcomp-select-product {
  margin-right: 5px !important;
}

.fcomp-list ul li {
  background: transparent none !important;
  list-style: none !important;
}

.menu-auth .iv-input,
.menu-auth .iv-img
{
  text-align: left !important;
}

.offers-more-info a:link,
.offers-more-info a:visited,
.offers-more-info a:hover,
.offers-more-info a:active
{
  background-image: none !important;
  padding-right: 0 !important;
  color: #1f7046;
}

.menu-survey .survey-footer {
  font-size: 12px !important;
}

a.offers-thumbnail img {
  border: none !important;
}

img.fcomp-in-cart {
  background: url(../images/custom/in_cart.gif) no-repeat !important;
}

.menu-dialog .link-title span.title-link {
  padding: 5px 7px 8px 0 !important;
}

img.separator {
  background-color: #eaa9a9;
}

.per-page-selector {
  padding-top: 20px;
}

a.search-sort-link {
  color: #fff;
}

div.opc-container h2,
div.opc-container h3
{
  color: #a23425; 
}

div.opc-container fieldset.registerform ul,
div.opc-section-container,
div.address-book-link,
div.optional-label,
div.opc-container .checkout-payments tr.payment-details td
{
  background: transparent none;
}

/* Products map */
.pmap_letters span.pmap_current {
  background: #1f7046;
} 

.pmap_letters a:hover { 
  border-color: #1f7046;
}
