/* vim: set ts=2 sw=2 sts=2 et: */
/**
 * Products map module CSS stylesheet
 *  
 * @category   X-Cart
 * @package    Modules
 * @subpackage Products Map
 * @author     Ruslan R. Fazlyev <rrf@x-cart.com> 
 * @version    $Id: main.css,v 1.3 2010/08/02 05:46:06 igoryan Exp $
 * @link       http://www.x-cart.com/
 * @see        ____file_see____
 */

.pmap_letters a, .pmap_letters span {
  display: block;
  float: left;
  margin: 0 2px 2px 0;
  background: #fff;
  font-size: 118%;
  padding: 3px 6px;
}

.pmap_letters span.pmap_current {
  border: 1px solid #d6d7d9;
  background: #043fa0;
  font-weight: bold;
  color: #fff;
}

.pmap_letters span.pmap_disabled {
  border: 1px solid #c7c5c5;
  background: #fff;
  text-decoration: none;
  color: #c7c5c5;
}

.pmap_letters a:link,
.pmap_letters a:visited,
.pmap_letters a:active,
.pmap_letters a:hover
{
  border: 1px solid #c7c5c5;
  text-decoration: none;
}

.pmap_letters a:hover {
  border-color: #043fa0;
}

.pmap_letters {
  padding: 0 0 30px 0;
  clear: left;
}
