/* vim: set ts=2 sw=2 sts=2 et: */
/**
 * Upselling products module CSS stylesheet
 *  
 * @category   X-Cart
 * @package    X-Cart
 * @subpackage CSS
 * @author     Ruslan R. Fazlyev <rrf@x-cart.com> 
 * @version    $Id: main.css,v 1.2 2010/05/31 06:08:30 igoryan Exp $
 * @link       http://www.x-cart.com/
 * @see        ____file_see____
 */

ul.uproducts {
  list-style: none outside none;
  padding: 0;
  margin: 0;
}

.uproducts li {
  padding: 5px;
  font-weight: bold;
}

ul.uproducts a:link,
ul.uproducts a:visited,
ul.uproducts a:hover,
ul.uproducts a:active
{
  font-weight: bold;
  font-size: 12px;
}

.printable .uproducts {
  display: none;
}
