/* vim: set ts=2 sw=2 sts=2 et: */
/**
 * $Id: main.IE7.css,v 1.1.2.2 2010/08/27 09:17:56 igoryan Exp $ 
 */
fieldset.registerform ul {
  overflow: hidden;
}

fieldset.registerform ul li.fields-group {
  padding-bottom: 0;
}

div.optional-label {
  height: 20px;
}

div.optional-label label input {
  top: 0;
}
